
pose_io/

\.cproject

\.pydevproject

\.project

*.pyc

*.c

*.so

deeplab/logs/

deeplab/pre/

deeplab/evaluationResult\.json

deeplab/plot\.gv

deeplab/plot\.gv\.pdf

deconv/plot\.gv

\.settings/

\.idea/

deconv/imgs/
